html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
       
#map {
  height: 100%;
}
       
.nicebox {
  position: absolute;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  z-index: 5;
  padding: 2px 2px;
  background: rgb(136, 178, 241);
  border: #88b2f1 1px solid;
}
              
#data-box {
  /*top: 10px;
  left: 500px;
  height: 25px;*/
  line-height: 1px;
  display: none;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
}
              
#census-variable {
  /*width: 360px;*/
  height: 20px;
}       
        
#legend {
  display: flex;
  display: -webkit-box;
  padding-top: 2px;
}
              
.color-key {
  background: linear-gradient(
    to right, 
    #db4639 0%,
    #db7f29 17%,
    #d1bf1f 33%,
    #92c51b 50%,
    #48ba17 67%,
    #12ab24 83%,
    #0f9f59 100%
  );
  flex: 1;
  -webkit-box-flex: 1;
  margin: 0 20px;
  text-align: left;
  font-size: 1em;
  line-height: 1em;
}
              
#data-value {
  font-size: 12px;
  font-weight: bold; 
}
              
#data-label {
  font-size: 12px;
  font-weight: normal;
}
              
#data-label:after {
  content: ":";
}
              
#data-caret {       
  margin-left: -5px;
  display: none;
  font-size: 12px;
  width: 14px;
}