{% load static %}

<!doctype html>
<html lang="en">
	<head>
		<title>VBD | Dashboard</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" >
		<link rel="stylesheet" href="{% static 'css/polygons.css' %}"type="text/css">
    </head>
	
	<body onload="myFunction()" style="margin:0; height: 100%; overflow: hidden;">
		
		<div id="loader">
			<div class="spinner-grow text-primary" style="width: 8rem; height: 8rem;" role="status">
				<span class="sr-only"></span>
			</div>
		</div>
    	
		<div style="display:none;" id="myDiv" class="animate">		
			<div class="wrapper d-flex align-items-stretch">
				<nav id="sidebar">
					<div class="custom-menu">
						<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          				<i class="fa fa-bars"></i>
	          				<span class="sr-only">Toggle Menu</span>
	        			</button>
        			</div>
				
				   <!---------------------------------------------------------------------------->
		    	
					<div class="p-3">
						<h1><a href="#" class="logo">Vector Borne Diseases Visualization</a></h1>
					</div>

					<div class="sidebar-inside-container">
						<div class="p-3">
							<h6><i class="fa fa-globe"></i> Types of Maps</h6>
							<ul class="list-unstyled components mb-4">
								<li>
									<a href="{% url 'dashboard1' %}">Heatmaps</a>
								</li>
								<li class="active">
									<a href="{% url 'dashboard2' %}">Polygons</a>
								</li>
								<li>
									<a href="{% url 'dashboard3' %}">Circles</a>
								</li>
								<li>
									<a href="{% url 'dashboard4' %}">Markers</a>
								</li>
							</ul>

							{% if msg == '' %}
								<div></div>
							{% else %}
								<div id="popup" class="alert">
								<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
								{{msg}}
								</div>
							{% endif %}
		
							<form action="search" method="GET" class="post-form">
							
								<div class="mt-4 mb-4 ml-0.5 mr-0.5">
									<input type="submit" class="btn btn-primary applyButton" value="Apply">
								</div>
								
								<div>{{form.city.label}} {{form.city}}</div>
								
								{% for radio in form.disease %}
								<div>
									{{radio}}
								</div>
								{% endfor %}
	
								<div>{{form.temperature}}{{form.temperature.label}}</div>
								<div>{{form.rainfall}}{{form.rainfall.label}}</div>
								<div>{{form.humidity}}{{form.humidity.label}}</div>
								<div>{{form.precipitation}}{{form.precipitation.label}}</div>
							</form>
							
							<div id="queryData"></div>

							<div class="nicebox mb-4 mr-3">
								<div>
									<select id="census-variable" style="width: 100%;">
										<option
										value="https://storage.googleapis.com/mapsdevsite/json/DP02_0066PE"
										>
										Percent of population over 25 that completed high school
										</option>
										<option
										value="https://storage.googleapis.com/mapsdevsite/json/DP05_0017E"
										>
										Median age
										</option>
										<option
										value="https://storage.googleapis.com/mapsdevsite/json/DP05_0001E"
										>
										Risk Areas
										</option>
										<option
										value="https://storage.googleapis.com/mapsdevsite/json/DP02_0016E"
										>
										Average family size
										</option>
										<option
										value="https://storage.googleapis.com/mapsdevsite/json/DP03_0088E"
										>
										Per-capita income
										</option>
									</select>
								
									<div id="legend">
										<div id="census-min">min</div>
										<div class="color-key">
											<span id="data-caret">&#x25c6;</span>
										</div>
										<div id="census-max">max</div>
									</div>
								
									<div id="data-box" class="mt-4">
										<label id="data-label" for="data-value"></label>
										<span id="data-value"></span>
									</div>
								</div>
							</div>
          
						    <br/><br/><br/><br/>

							<div class="footer mb-2">
								<p>
									<br/><br/>
								</p>
							</div>
	    				</div>
					</div>
				
				<div class="m-3">
					<!-- Footer -->
				</div>
    	    </nav>

      <!-- Page Content -->

      <div id="content" class="mt-1 mb-1 ml-2 mr-1 pt-1 pb-1 pl-4 pr-1">
        <div id="map"></div>
      </div>
	</div>
</div>
	<script>
		var myVar;
		
		function myFunction() {
			myVar = setTimeout(showPage, 2000);
		}
		
		function showPage() {
			document.getElementById("loader").style.display = "none";
			document.getElementById("myDiv").style.display = "block";
		}
		</script>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script src="{% static 'js/polygons.js' %}" type="text/javascript"></script>
		<script
		src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap&libraries=visualization&v=weekly"
		async
		>
	</script>
    <!-- Visualization library is used for displaying heatmaps. 
     It contains a HeatmapLayer class. 
     When Maps API JavaScript is called this class must be loaded. 
    -->
  
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

	</body>
</html>